<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/Alfa">Alfa</router-link> |
    <router-link to="/Bravo">Bravo</router-link> |
    <router-link to="/Charlie">Charlie</router-link> |
    <router-link to="/Delta">Delta</router-link> |
    <router-link to="/Echo">Echo</router-link> |
    <router-link to="/Foxtrot">Foxtrot</router-link> |
    <router-link to="/Golf">Golf</router-link> |
    <router-link to="/Hotel">Hotel</router-link> |
    <router-link to="/India">India</router-link> |
    <router-link to="/Juliet">Juliet</router-link> |
    <router-link to="/Kilo">Kilo</router-link> |
    <router-link to="/Lima">Lima</router-link> |
    <router-link to="/Mike">Mike</router-link> |
    <router-link to="/about">About</router-link>
  </div>
  <div>
    v0.0.6
  </div>
  <router-view/>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
